# KubeOne
kubeone.yaml

# Kubicorn
bin/
_state/

# direnv
.envrc

# Terraform
.terraform.lock.hcl

# Editor and IDE
.vscode
.idea
.vim/bundle/
.vim/.cache/
.vim/.netrwhist
.vim/local_bundle

# Various
vendor/bundle/
tmp/
*.swp
*.swo

